<script src="vue.js"></script>
<script src="Pokemon.js" defer></script>
<link rel="stylesheet" type="text/css" href="Pokemon.css">


<!-- demo root element -->
<div id="pokeapp">

    <!-- grid template -->
    <template id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                        {{ key | capitalize }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredData">
                    <td v-for="key in columns">
                        {{entry[key]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </template>

    <!-- polygraph template -->
    <template id="polygraph-template">
        <g>
            <polygon :points="points"></polygon>
            <circle cx="100" cy="100" r="80"></circle>
            <axis-label v-for="(stat, index) in stats" :stat="stat" :index="index" :total="stats.length">
            </axis-label>
        </g>

    </template>

    <!-- passing through data -->
    <!-- <demo-grid :data="pokemons" :columns="gridColumns"> </demo-grid> -->

    <!-- Use the component -->
    <svg width="300" height="300">
          <polygraph :stats="stats"></polygraph>
        </svg>

    <p v-for="stat in stats"> {{stat.label}}: {{stat.value}} </p>
    <image :src="image"></image>

    <button v-for="pokemon in pokemons" @click="selectPokemon(pokemon); image=pokemon.pic">{{pokemon.name}}</button>

</div>

<!-- template for the axis label component. Only works in script because of <text> -->
<script type="text/x-template" id="axis-label-template">
    <text :x="point.x" :y="point.y">{{stat.label}}</text>
</script>
