h1 {
  font-weight: 300;
  font-size: 1.8em;
  margin-top: 0;
}
a {
  color: #fff;
}
.draggable-header-view {
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,.15);
  width: 730px;
  height: 1460px;
  overflow: hidden;
  margin: 30px auto;
  position: relative;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draggable-header-view .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.draggable-header-view .header, .draggable-header-view .content {
  position: relative;
  z-index: 1;
  padding: 30px;
  box-sizing: border-box;
}
.draggable-header-view .header {
  height: 160px;
  text-align: center
}
.draggable-header-view .content {
  color: #333;
  line-height: 1.5em;
}

.draggable-header-view .content p {
    font-size: 13px;
}

.draggable-header-view .content li {
    font-size: 13px;
}
.draggable-header-view .content .html-code1 {
    margin: 20px 20px;
    width: auto;
    background-color: #dbdbdb;
}

.draggable-header-view .content .html-code1 p {
    text-align: center;
    font-size: 12px;
}

.draggable-header-view .content .html-code2 {
    background-color: #dbdbdb;
    width: auto;
    margin: 20px 20px;
    padding: 5px 5px;
}

.draggable-header-view .content .html-code2 p {
    margin-left: 10px;
    font-size: 12px;
}

.draggable-header-view .content .html-code3 {
    background-color: #dbdbdb;
    width: auto;
    margin: 20px 20px;
    padding: 5px 5px;
}

.draggable-header-view .content .html-code3 p {
    margin-left: 10px;
    font-size: 12px;
}

.draggable-header-view .content .html-code4 {
    background-color: #dbdbdb;
    width: auto;
    margin: 20px 20px;
    padding: 5px 5px;
}

.draggable-header-view .content .html-code4 p {
    margin-left: 10px;
    font-size: 12px;
}

.draggable-header-view .content .html-code5 {
    background-color: #dbdbdb;
    width: auto;
    margin: 20px 20px;
    padding: 5px 5px;
}

.draggable-header-view .content .html-code5 p {
    margin-left: 10px;
    font-size: 12px;
}